{% extends 'base.html.twig' %}

{% block title %}PlateFormes index{% endblock %}

{% block body %}
<main>
<section>
    <h1>PlateFormes index</h1>
    <a href="{{ path('admin.plateforme.new') }}" class="ajouter">Ajouter plateforme</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle_plateforme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plate_forme in plate_formes %}
            <tr>
                <td>{{ plate_forme.id }}</td>
                <td>{{ plate_forme.libelle }}</td>
                <td>
                    <a href="{{ path('admin.plateforme.edit', {'id': plate_forme.id}) }}" class="modifier">Modifier</a>
                    {{ include('admin/admin_plate_forme/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    </section>
    </main>
{% endblock %}
