{% extends 'base.html.twig' %}

{% block title %}Jeux index{% endblock %}

{% block body %}
<main>
<section>
    <h1>Jeux index</h1>
    <a href={{ path('admin.jeux.new') }} class="ajouter">Ajouter jeux</a>
    <table class="table">
        <thead>
            <tr>
                <th id="id">Id</th>
                <th id="titre">Titre</th>
                <th id="description">Description</th>
                <th id="dev">Développeur</th>
                <th id="genres">Genres</th>
                <th id="plateforme">Plate-formes</th>
                <th id="video">Video_path</th>
                <th id="couverture">Couverture_path</th>
                <th>Classification</th>
                <th id="date">Date_sortie</th>
                <th class="actions">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeu in jeux %}

            <tr>
                <td>{{ jeu.id }}</td>
                <td>{{ jeu.titre }}</td>
                <td><p>{{ jeu.description }}</p></td>
                <td>{{ jeu.developpeur.libelle }}</td>
                <td>{% for genre in jeu.genre %}
                    {{ genre.libelle }}
                {% endfor %}</td>
                <td>{% for plateforme in jeu.plateForme %}
                    {{ plateforme.libelle }}
                {% endfor %}</td>
                <td><p>{{ jeu.videoPath }}</p></td>
                <td><p>{{ jeu.couverturePath }}</p></td>
                <td>{{ jeu.classification.libelle }}</td>
                <td>{{ jeu.dateSortie.format('Y-m-d')}}</td>
                <td class="action">
                    
                    <a href="{{ path('admin.jeux.edit', {'id': jeu.id}) }}" class="modifier">Modifier</a>
                    {{ include('admin/admin_jeux/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    </section>
    </main>
{% endblock %}
