{% extends 'base.html.twig' %}

{% block title %}Genres index{% endblock %}

{% block body %}
<main>
    <section>
    <h1>Genres index</h1>
    <a href="{{ path('admin.genre.new') }}" class="ajouter">Ajouter un genre</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle_genre</th>
                <th class="actions">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.libelle }}</td>
                <td class="action">
                    <a href="{{ path('admin.genre.edit', {'id': genre.id}) }}" class="modifier">Modifier</a>
                    {{ include('admin/admin_genre/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    </section>
</main>
{% endblock %}
