<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="stylesheet" href="./css/application.css" type="text/css"/>
		<link rel="stylesheet" href="./css/jeux.css" type="text/css"/>
		<script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" integrity="sha384-haqrlim99xjfMxRP6EWtafs0sB1WKcMdynwZleuUSwJR0mDeRYbhtY+KPMr+JL6f" crossorigin="anonymous"></script>
		{# <script src="/build/runtime.js" defer></script>
				<script src="/build/app.js" defer></script> #}
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		{{ encore_entry_script_tags('app') }}
		{# Run `composer require symfony/webpack-encore-bundle`
						           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<header>
			<div id="div_container">
				<div id="div_titre">
					<h1>JeuxProject</ha>
				</div>

				<div id="div_header_container">
					<div id="div_recherche">
						<input type="text" placeholder="rechercher un jeu">
						<i class="fas fa-search"></i>
					</div>
					<div id="div_authentification">


						{% if app.user %}
							<i class="fas fa-user-circle"></i>
							{% if is_granted('ROLE_ADMIN') %}
								<div>
									<a href="">Accès backoffice</a>
								</div>
							{% endif %}
							<div id="div_deconnexion">
								<a href={{ path('logout')}}>Se deconnecter</a>
							</div>
						{% else %}
							<div id="div_connexion">
								<a href={{ path('login') }}>Se connecter</a>
							</div>
							<div id="div_creer_compte">
								<a href="">Créer un compte</a>
							</div>

						{% endif %}


					</div>
				</div>
			</div>


		</header>
		{% block body %}{% endblock %}
	</body>
</html>
