{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div id="app"></div>
	{% if page is defined %}
		<input type="hidden" name="page" id="page" value={{page}}/>
	{% endif %}

	<main id="profil-user">
		<h1>Mon profil</h1>
		<div id="profil">
			<div id="info">
				<div>
					<ul>
						<li>Nom utilisateur :
							{{app.user.username}}</li>
						<li>Email :
							{{app.user.email}}</li>
					</ul>
				</div>
				<div>
					<ul>
						<li>Nom :
							{{app.user.nom}}</li>
						<li>Prénom :
							{{app.user.prenom}}</li>
						<li>Date de naissance :
							{% if app.user.dateNaissance %}
								{{app.user.dateNaissance|date('d-m-Y')}}
							{% endif %}
						</li>
					</ul>
				</div>
			</div>

			<div id="btn-modif-profil">
				<a href={{path('user.modifProfil', {id: app.user.id} )}} class="btn-blue">Modifier profil</a>
			</div>
		</div>


	</main>

{% endblock %}
